# CMake build directories
/cmake-build-*
build/

# CLion-specific
.idea/
!.idea/runConfigurations/
!.idea/cmake.xml

# Don't include personal workspace settings
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/.name

# OS stuff
.DS_Store
